@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.Logo {
  height: 70px;
  width: 100px;
  mix-blend-mode: difference;
}

.navbar {
  border: 0px solid #86c232;
  width: 99.7%;
  position: absolute;
  z-index: 80;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  position: fixed;
}

.nav_parent>ul>li {
  list-style: none;
  display: inline-block;
  margin-left: 30px;
}

.nav_parent>ul>li>a {
  text-decoration: none;
  color: white;
  font-size: 18.5px;
}

.nav_parent {
  display: flex;
  justify-content: space-between;
  margin-left: 500px;
  margin-right: 200px;
  width: 47%;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: white;
  font-size: 18px;
  font-family: Inter-Bold, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  letter-spacing: 0px;
  line-height: 22px;
  border: 0px solid red;
}

/* CSS */
.button-34 {
  background: #56585a;
  border-radius: 999px;
  /* box-shadow: #5E5DF0 0 10px 20px -10px; */
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 10px;
  height: 40px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 130px;
  word-break: break-word;
  border: 3px solid silver;
  margin-right: 70px;
}

.button-34>a {
  color: white;
  text-decoration: none;
}
nav.sticky{
  transition: ease-in 420ms;
  background: rgb(246, 244, 244,0.87);
}
nav.sticky ul li a{
  color: black;
}





.banner {
  /* border: 2px solid red; */
  position: absolute;
  z-index: 10;
  top: 0;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 0px;
  width: 100%;
}

.banner_img {
  width: 100%;
  height: 650px;
}

.mypicdiv {
  border: 2px solid silver;
  height: 475px;
  width: 350px;
  position: absolute;
  top: 26%;
  left: 60%;
  margin-bottom: 0px;
  border-radius: 10px;
}

.mypicdiv>img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.name_in_banner {
  position: absolute;
  top: 36%;
  left: 100px;
}

.name_in_banner>h2 {
  color: #e7222e;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.name_in_banner>h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
}

.section2 {
  /* border: 2px solid red; */
  height: 400px;
  background-color: #222629;
  margin-top: 632px;
  /* position: absolute;
z-index: 10; */
}

.section2>h2 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
}

/* Custom lines for navbar */

#customlines {
  display: flex;
  border: 0px solid red;
  height: 5px;
  width: 100%;
  /* margin: auto; */
  margin-top: 50px;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  justify-content: center;
  position: absolute;
  z-index: 520;
  position: fixed;
}

.customchildline1 {
  border: 0px solid yellow;
  width: 33%;
  background-color: #81c4ff;
}

.customchildline2 {
  border: 0px solid skyblue;
  width: 33%;
  background-color: #16588e;
}

.customchildline3 {
  border: 0px solid yellow;
  width: 33%;
  background-color: #e7222e;
}

/* Custom lines for navbar ends */


/* Normal Theme colors code starts */


/* #lines{
    display: flex;
    border: 0px solid red;
    height: 5px;
    width: 700px;
    margin: auto;
    justify-content: center;
}
.childline1{
border: 0px solid yellow;
width: 33%;
background-color: #86c232;
}
.childline2{
    border: 0px solid skyblue;
    width: 33%;
    background-color: #86c232;
}
.childline3{
    border: 0px solid yellow;
    width: 33%;
    background-color: #86c232;
} */


/* Normal Theme colors code ends */

/* BMW Msport colors code starts */


#lines {
  display: flex;
  border: 0px solid red;
  height: 5px;
  width: 700px;
  margin: auto;
  justify-content: center;
}

.childline1 {
  border: 0px solid yellow;
  width: 33%;
  background-color: #81c4ff;
}

.childline2 {
  border: 0px solid skyblue;
  width: 33%;
  background-color: #16588e;
}

.childline3 {
  border: 0px solid yellow;
  width: 33%;
  background-color: #e7222e;
}

/* BMW Msport colors code ends */

.section2>p {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 60px;
  margin-right: 60px;
}

.section3 {
  /* border: 2px solid red; */
  height: 700px;
  background-color: #16191e;
  margin-top: 0px;
}

.section3>h2 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.skillsdiv {
  margin: 80px auto auto auto;
  /* margin: auto; */
  border: 0px solid red;
  height: 460px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 170px);
  grid-template-rows: repeat(4, 170px);
  gap: 50px 100px;
  justify-content: center;

}

.skills-card {
  border: 0px solid red;
  background-color: #21282d;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;
  /* padding-top: 30px; */
}

.skills-card-img {
  margin-top: 25px;
}
#bootstrap-logo{
  height: 90px;
  width: 110px;
  border: 0px solid red;
  margin-top: 20px;
}
.skills-card-name {
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.Section4 {
  /* border: 2px solid red; */
  height: 750px;
  background-color: #1f2833;
  /* background-color: rgb(23,26,38); */
  margin-top: 0px;
}

.Section4>h2 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.Projects_div {
  margin: 70px auto auto auto;
  /* margin: auto; */
  border: 0px solid red;
  height: 550px;
  width: 95%;
  display: flex;
  justify-content: space-around;
}
.project-github-link{
  text-decoration: none;
  color: white;
  font-size: 23px;
  margin-left: 10px;
}
.project-card {
  border: 0px solid salmon;
  width: 22%;
  height: 88%;
  background-color: rgb(255 255 255 / 10%);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.project-card>a>img {
  height: 55%;
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.project-card>h4 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  margin-top: 13px;
  margin-left: 10px;
}
.project-card>h5 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.project-card>ul>li {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
#techstack{
  margin-top: 10px;
  margin-bottom: 5px;
}
.project-card>ul {
margin-left: 30px;
margin-bottom: 8px;
}

.section5 {
  /* border: 2px solid red; */
  height: 600px;
  background-color: #101820FF;
  margin-top: 0px;
}

.section5>h2 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.Soft_Skills {
  display: flex;
  border: 0px solid red;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
}

.C1 {
  border: 0px solid red;
  width: 250px;
}

.C1>h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .Soft_Skills {
    display: inline;
  }
}

.circle-wrap {
  display: grid;
  grid-template-columns: repeat(1, 160px);
  grid-gap: 80px;
  margin-top: 50px;
  margin-left: 50px;
  width: 150px;
  height: 150px;
  /* background: #cabbbb; */
  border-radius: 50%;
  border: 1px solid silver;
  margin-bottom: 50px;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill-1,
.circle-wrap .circle .fill-2,
.circle-wrap .circle .fill-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circle-wrap .inside-circle {
  width: 124px;
  height: 124px;
  border-radius: 50%;
  background: #212020;
  line-height: 120px;
  text-align: center;
  margin-top: 13px;
  margin-left: 13px;
  color: white;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  border: 1px solid silver;
}

/* color animation */

.mask .fill-1 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #81c4ff;
}

.mask.full-1,
.circle .fill-1 {
  animation: fill-1 ease-in-out 3s;
  transform: rotate(153deg);
}

@keyframes fill-1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(153deg);
  }
}

/* 2nd bar */

.mask .fill-2 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #16588e;
}

.mask.full-2,
.circle .fill-2 {
  animation: fill-2 ease-in-out 3s;
  transform: rotate(165deg);
}

@keyframes fill-2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(165deg);
  }
}

/* 3rd progress bar */
.mask .fill-3 {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #e7222e;
}

.mask.full-3,
.circle .fill-3 {
  animation: fill-3 ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill-3 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(135deg);
  }
}

.section5ii{
  width: 100%;
  height: 830px;
  background-color: #232b2b;
  text-align: center;
}
.section5ii>h2{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
}
.githubcards{
  border: 0px solid red;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 80px;
}
.githubcards>a{
  border: 2px solid silver;
  width: 26%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.githubcards>a>img{
width: 100%;
height: 100%;
border-radius: 8px;
}
.github_heatmap{
  border: 2px solid silver;
  margin-top: 38px;
  width: 90%;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.gitcalen{
  width: 95%;
  height: 210px;
  margin: auto;
  mix-blend-mode:screen;
  margin-top: 30px;
}
.strk{
  width: 490px;
  height: 100%;
}

#contact {
  background: #000;
  border: 0px solid red;
  height: 650px;
}

#contact>h1 {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.container {
  border: 0px solid yellow;
  margin-top: 50px;
  /* display: ; */
}

.row {
  border: 0px solid green;
  display: flex;
  justify-content: center;
}

#contact>h1,
p {
  color: white;
}

.subtitle {
  color: white;
}

.contact-left {
  border: 0px solid red;
  flex-basis: 35%;
  padding-left: 100px;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}

#resume-button-2 {
  margin-top: 10px;
}

#resume-button-2>a {
  color: white;
  text-decoration: none;
}

.contact-right {
  border: 0px solid red;
  flex-basis: 40%;
  padding-left: 30px;
}

.contact-left p {
  margin-top: 30px;
  font-size: 18px;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
  margin-bottom: 20px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

#resume-button-2 {
  display: inline-block;
  background: #ff004f;
}


/* CSS */
#resume-button-2 {
  background-color: #e7222e;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-1 {
  background-color: #e7222e;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}
.button-1>a{
  text-decoration: none;
  color: white;
}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

/* #Linkedin-icon{
    color: #81c4ff;
  }
  #Facebook-icon{
    color:#16588e ;
  }
  #insta-icon{
    color:#e7222e ;
  } */
/* #e7222e */


/* Responsiveness works */

@media only screen and (max-width: 1000px){
  .nav_parent {
    margin-left: 50px;
    margin-right: 70px;
    width: 80%;
    border: 0px solid red;
  }
  .navbar {
    border: 2px solid #86c232;
    width: 200px;
  }
  .button-34 {
    width: 100px;
  }
  .button-34>a {
    font-size: 10px;
  }

  .banner_img {
    max-width:  800px;
    height: 545px;
  }
  
  .mypicdiv {
    border: 2px solid silver;
    height: 400px;
    width: 310px;
    position: absolute;
    top: 26%;
    left: 110%;
    margin-bottom: 0px;
    border-radius: 5px;
  }
  
  .name_in_banner {
    position: absolute;
    top: 38%;
    left: 10px;
  }
  
  .name_in_banner>h2 {
    color: tomato;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
  }
  
  .name_in_banner>h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 80px;
  }
  nav.sticky{
    transition: ease-in 420ms;
    background: rgb(246, 244, 244);
  }
  nav.sticky ul li a{
    color: black;
  }
  .section2 {
    height: 370px;
    background-color: #222629;
    margin-top: 526px;
    width: 800px;
  }

/* BMW Msport colors code starts */


#lines {
  display: flex;
  border: 0px solid red;
  height: 5px;
  width: 330px;
  margin: auto;
  justify-content: center;
}

.childline1 {
  border: 0px solid yellow;
  width: 33%;
  background-color: #81c4ff;
}

.childline2 {
  border: 0px solid skyblue;
  width: 33%;
  background-color: #16588e;
}

.childline3 {
  border: 0px solid yellow;
  width: 33%;
  background-color: #e7222e;
}

/* BMW Msport colors code ends */

.section2>h2 {
  font-size: 40px;
}
.section2>p {
  margin-top: 50px;
}

.section3 {
  width: 800px;
}

.section3>h2 {
  font-size: 40px;
}

.skillsdiv {
  margin: 80px auto auto auto;
  /* margin: auto; */
  border: 2px solid red;
  height: 460px;
  width: 85%;
  display: grid;
  grid-template-columns: repeat(4, 170px);
  grid-template-rows: repeat(4, 170px);
  gap: 50px 20px;
  justify-content: center;

}

.skills-card {
  border: 2px solid red;
  background-color: #21282d;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-align: center;

  /* padding-top: 30px; */
}

.skills-card>img {
  margin-top: 25px;
}

.skills-card>h4 {
  margin-top: 10px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


}






